* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #323141;
  color: #fff;
  flex-direction: column;
  font-family: "Noto Music";
  row-gap: 50px;
}
.container {
  display: none;
  width: 350px;
  height: 500px;
  border-radius: 30px;
  background: rgba(56, 55, 73, 0.5);
  box-shadow: 5px 10px 20px rgba(49, 49, 61, 0.9);
  flex-direction: column;
  padding: 50px 20px;
  row-gap: 10px;
  overflow: auto;
  transition: all 0.5s;
}
.wrapper-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & > img {
    width: 100px;
    height: 100px;
  }
}
.location {
  padding-left: 20px;
  font-size: 20px;
  display: flex;
  column-gap: 5px;
  text-shadow: 0 0 5px #fff;
}
.location__city {
}
.location__country {
}
.scale {
  height: 3px;
  background-color: #ffa500;
  border-radius: 5px;
  max-width: 290px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: inherit;
    box-shadow: 0 0 10px #ffa500;
    border-radius: 50%;
    right: 0;
    top: -4px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-left: 20px;
}
.tempr {
  font-size: 60px;
  line-height: 30px;
  font-weight: 300;
  text-shadow: 7px 4px 5px #000;
  display: flex;
  align-items: flex-start;
}
.pressure {
  padding-top: 20px;
}
.humidity {
}
.speed {
}
.deg {
}
.description {
}
.search {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.search__input {
  width: 100%;
  height: 50px;
  border-radius: 0;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  padding: 10px 0;
  color: #fff;
  transition: border-color 0.3s;
  &:focus {
    border-color: rgb(88, 88, 219);
  }
  &:focus + .placeholder,
  &:not(:focus):valid + .placeholder {
    top: -15px;
    transform: scale(0.8);
    color: rgb(88, 88, 219);
  }
}
.placeholder {
  color: rgb(179, 175, 175);
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  color: rgb(179, 175, 175);
  font-size: 18px;
  pointer-events: none;
  transform-origin: left;
  transition: top 0.5s, transform 0.5s, color 0.5s;
}
.search__btn {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    box-shadow: 3px 4px 10px #fff;
    letter-spacing: 2px;
  }
  &:active {
    transform: translateY(-4px);
  }
}
@media (max-width: 400px) {
  .container {
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
